

        // https://niri-wm.github.io/niri/Configuration:-Introduction



    // https://github.com/niri-wm/niri/wiki/Configuration:-Miscellaneous

prefer-no-csd
spawn-at-startup "noctalia-shell"
spawn-at-startup "foot"
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor {
    xcursor-theme "Capitaine Cursors (Gruvbox) - White"
    xcursor-size 36
    hide-when-typing
    hide-after-inactive-ms 10000
}
environment {
  QT_QPA_PLATFORMTHEME "qt6ct"
}
hotkey-overlay {
    skip-at-startup
}

    // https://niri-wm.github.io/niri/Configuration:-Input

input {
    keyboard {
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
}

    // https://niri-wm.github.io/niri/Configuration:-Layout

layout {
    gaps 6

    // always | never | on-overflow
    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.35
        proportion 0.5
        proportion 0.65
    }
    preset-window-heights {
        proportion 0.33
        proportion 0.66
        proportion 1.00
    }
    default-column-width { }

    focus-ring {
        width 2
    }
}

    // https://niri-wm.github.io/niri/Configuration:-Window-Rules

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}
window-rule {
    match app-id="foot"
    match title="nvim"

    opacity 0.92;
}
window-rule {
    match app-id="foot"

    default-column-width { proportion 0.5; }
}
window-rule {
    match app-id="^firefox$" title="^Picture-in-Picture$"
    match app-id="firefox" title="Sign in"
    match app-id="^org.inkscape.Inkscape$" title="New"
    match app-id="^org.inkscape.Inkscape$" title="Portable"
    match app-id="^qt6ct$"
    match app-id="^galculator$"
    match app-id="^nwg-look$"

    open-floating true
}
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

    // https://niri-wm.github.io/niri/Configuration%3A-Key-Bindings.html

binds {
    Mod+Shift+Slash                                     { show-hotkey-overlay; }
    Mod+Escape                  allow-inhibiting=false  { toggle-keyboard-shortcuts-inhibit; }
    Ctrl+Alt+Delete                                     { quit; }
    Mod+Shift+E                                         { quit; }
    Mod+Shift+P                                         { power-off-monitors; }

        // System Controls

    XF86AudioLowerVolume        allow-when-locked=true  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioRaiseVolume        allow-when-locked=true  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioMute               allow-when-locked=true  { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioPlay               allow-when-locked=true  { spawn "noctalia-shell" "ipc" "call" "media" "playPause"; }

    Ctrl+XF86AudioLowerVolume   allow-when-locked=true  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 0.1-"; }
    Ctrl+XF86AudioRaiseVolume   allow-when-locked=true  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 0.1+ -l 1.0"; }
    Ctrl+XF86AudioMute          allow-when-locked=true  { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    Shift+XF86AudioMute         allow-when-locked=true  { spawn "noctalia-shell" "ipc" "call" "media" "toggle"; }
    Shift+XF86AudioLowerVolume  allow-when-locked=true  { spawn "noctalia-shell" "ipc" "call" "media" "previous"; }
    Shift+XF86AudioRaiseVolume  allow-when-locked=true  { spawn "noctalia-shell" "ipc" "call" "media" "next"; }

    XF86MonBrightnessUp         allow-when-locked=true  { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown       allow-when-locked=true  { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }

    Shift+XF86AudioPlay         allow-when-locked=true  { spawn "noctalia-shell" "ipc" "call" "airplaneMode" "toggle"; }

    Print                                               { screenshot; }
    Ctrl+Print                                          { screenshot-screen; }
    Alt+Print                                           { screenshot-window; }

        // Programs

    Mod+Q                       repeat=false            { close-window; }

    Mod+T                                               { spawn "foot"; }
    Mod+D                                               { spawn "sh" "-c" "pgrep -x fuzzel >/dev/null && pkill -x fuzzel || fuzzel"; }
    Mod+A                                               { spawn "firefox"; }
    Mod+E                                               { spawn "foot" "yazi"; }
    Mod+C                                               { spawn "codium"; }
    Mod+Shift+D                                         { spawn-sh "pgrep -x fuzzel >/dev/null && pkill -x fuzzel || fuzzel-pages.fish"; }
    Mod+Shift+W                                         { spawn-sh "pgrep -x fuzzel >/dev/null && pkill -x fuzzel || fuzzel-projects.fish"; }
    Mod+Shift+A                                         { spawn-sh "pgrep -x fuzzel >/dev/null && pkill -x fuzzel || fuzzel-prompts.fish"; }
    Mod+Shift+S                                         { spawn-sh "scan.sh"; }

    Shift+Alt+L                                         { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
    Alt+Escape                                          { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
    Alt+C                                               { spawn "noctalia-shell" "ipc" "call" "calendar" "toggle"; }

    Ctrl+Alt+C                                          { spawn "noctalia-shell" "ipc" "call" "launcher" "clipboard"; }

        // Motions
    
    Mod+O                       repeat=false            { toggle-overview; }

    Mod+Home                                            { focus-column-first; }
    Mod+End                                             { focus-column-last; }

    Mod+Left                                            { focus-column-left; }
    Mod+Down                                            { focus-window-down; }
    Mod+Up                                              { focus-window-up; }
    Mod+Right                                           { focus-column-right; }
    Mod+H                                               { focus-column-left; }
    Mod+J                                               { focus-window-down; }
    Mod+K                                               { focus-window-up; }
    Mod+L                                               { focus-column-right; }

    Mod+WheelScrollDown         cooldown-ms=150         { focus-workspace-down; }
    Mod+WheelScrollUp           cooldown-ms=150         { focus-workspace-up; }
    Mod+Page_Down                                       { focus-workspace-down; }
    Mod+Page_Up                                         { focus-workspace-up; }
    Mod+U                                               { focus-workspace-down; }
    Mod+I                                               { focus-workspace-up; }

    Mod+1                                               { focus-workspace 1; }
    Mod+2                                               { focus-workspace 2; }
    Mod+3                                               { focus-workspace 3; }
    Mod+4                                               { focus-workspace 4; }
    Mod+5                                               { focus-workspace 5; }
    Mod+6                                               { focus-workspace 6; }
    Mod+7                                               { focus-workspace 7; }
    Mod+8                                               { focus-workspace 8; }
    Mod+9                                               { focus-workspace 9; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }

        // Layout 

    Mod+Ctrl+Left                                       { move-column-left; }
    Mod+Ctrl+Down                                       { move-window-down; }
    Mod+Ctrl+Up                                         { move-window-up; }
    Mod+Ctrl+Right                                      { move-column-right; }
    Mod+Ctrl+H                                          { move-column-left; }
    Mod+Ctrl+J                                          { move-window-down; }
    Mod+Ctrl+K                                          { move-window-up; }
    Mod+Ctrl+L                                          { move-column-right; }

    Mod+Shift+Page_Down                                 { move-workspace-down; }
    Mod+Shift+Page_Up                                   { move-workspace-up; }
    Mod+Shift+U                                         { move-workspace-down; }
    Mod+Shift+I                                         { move-workspace-up; }

    Mod+Ctrl+WheelScrollDown    cooldown-ms=150         { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp      cooldown-ms=150         { move-column-to-workspace-up; }
    Mod+Ctrl+Page_Down                                  { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up                                    { move-column-to-workspace-up; }
    Mod+Ctrl+U                                          { move-column-to-workspace-down; }
    Mod+Ctrl+I                                          { move-column-to-workspace-up; }
    
    Mod+Ctrl+Home                                       { move-column-to-first; }
    Mod+Ctrl+End                                        { move-column-to-last; }

    Mod+BracketLeft                                     { consume-or-expel-window-left; }
    Mod+BracketRight                                    { consume-or-expel-window-right; }
    Mod+Comma                                           { consume-window-into-column; }
    Mod+Period                                          { expel-window-from-column; }

    Mod+Ctrl+1                                          { move-column-to-workspace 1; }
    Mod+Ctrl+2                                          { move-column-to-workspace 2; }
    Mod+Ctrl+3                                          { move-column-to-workspace 3; }
    Mod+Ctrl+4                                          { move-column-to-workspace 4; }
    Mod+Ctrl+5                                          { move-column-to-workspace 5; }
    Mod+Ctrl+6                                          { move-column-to-workspace 6; }
    Mod+Ctrl+7                                          { move-column-to-workspace 7; }
    Mod+Ctrl+8                                          { move-column-to-workspace 8; }
    Mod+Ctrl+9                                          { move-column-to-workspace 9; }

    Mod+V                                               { toggle-window-floating; }
    Mod+Shift+V                                         { switch-focus-between-floating-and-tiling; }
    Mod+W                                               { toggle-column-tabbed-display; }

    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

        // Monitors

    Mod+Shift+Left                                      { focus-monitor-left; }
    Mod+Shift+Down                                      { focus-monitor-down; }
    Mod+Shift+Up                                        { focus-monitor-up; }
    Mod+Shift+Right                                     { focus-monitor-right; }
    Mod+Shift+H                                         { focus-monitor-left; }
    Mod+Shift+J                                         { focus-monitor-down; }
    Mod+Shift+K                                         { focus-monitor-up; }
    Mod+Shift+L                                         { focus-monitor-right; }

    Mod+Shift+Ctrl+Left                                 { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down                                 { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up                                   { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right                                { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H                                    { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J                                    { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K                                    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L                                    { move-column-to-monitor-right; }

        // Window sizing

    Mod+R                                               { switch-preset-column-width; }
    Mod+Shift+R                                         { switch-preset-column-width-back; }

    Mod+Ctrl+Shift+R                                    { switch-preset-window-height; }
    Mod+Ctrl+R                                          { reset-window-height; }

    Mod+Minus                                           { set-column-width "-10%"; }
    Mod+Equal                                           { set-column-width "+10%"; }

    Mod+Shift+Minus                                     { set-window-height "-10%"; }
    Mod+Shift+Equal                                     { set-window-height "+10%"; }

    Mod+F                                               { maximize-column; }
    Mod+Ctrl+F                                          { fullscreen-window; }
    Mod+M                                               { maximize-window-to-edges; }

    Mod+Shift+F                                         { expand-column-to-available-width; }
    Mod+Ctrl+C                                          { center-visible-columns; }
}

include "./noctalia.kdl"

