layout {

    focus-ring {
        active-color   "#55dbc7"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#55dbc7"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#55dbc7"
        inactive-color "#005047"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#55dbc780"
    }
}

recent-windows {
    highlight {
        active-color "#55dbc7"
        urgent-color "#ffb4ab"
    }
}
